# MediERP Professional - Configuration
# Copier ce fichier en .env et remplir les valeurs

# === CRYPTOGRAPHIE ===
CRYPTO_KEY=ahmedyassine12*
SQLITE_CIPHER_KEY=ahmedyassine12*
JWT_SECRET=ahmedyassine12*

# === BASE DE DONNÉES (LOCALE) ===
DB_PATH=./db/medierp_pro.db
DB_BACKUP_DIR=./db/backups

# === SMTP (Envoi ordonnances) ===
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=benzartiahmedyassine@gmail.com
SMTP_PASSWORD=soaj iamh zjss kzqk


# === ML CONFIG ===
ML_MODEL_PATH=./assets/models/heart_risk_model.pkl
ML_CONFIDENCE_THRESHOLD=0.7
ML_AUTO_PREDICT=true

# === LOGGING ===
LOG_LEVEL=INFO
LOG_DIR=./logs

# === APP CONFIG ===
APP_NAME=MediERP Professional
APP_VERSION=2.0.0
APP_THEME=light
